:root {
  --blue-100: rgb(246, 249, 255);
  --blue-400: rgb(55, 131, 255);
  --blue-500: rgb(34, 119, 255);
  --grey-100: rgb(240, 242, 244);
  --grey-300: rgb(222, 225, 233);
  --white: #fff;
}

header {
  padding: .3em;
  background: var(--white);
  border-bottom: 1.5px solid var(--grey-100);
  display: flex;
  justify-content: space-between;
}

.btn {
  font-size: .9em;
  font-weight: bold;
  margin: .3em .5em;
  padding: .5em;
  width: 8em;
  border: 1px solid var(--blue-500);
  border-radius: 1.5em;
}

.btn-primary {
  color: var(--blue-500);
  background: var(--white);
}

.btn-primary:hover {
  color: var(--blue-500);
  background: var(--blue-100);
}

.btn-secondary {
  color: var(--white);
  background: var(--blue-500);
}

.btn-secondary:hover {
  color: var(--white);
  background: var(--blue-400);
  border-color: var(--blue-400);
}

#search-bar {
  width: 40%;
  background: var(--grey-100);
  border: 1px solid var(--grey-300);
  border-radius: 5px;
}

#search-bar:hover {
  border-color: var(--blue-500);
}

#search-bar:focus {
  border-color: var(--blue-500);
  outline: none;
}

#header-logo {
  height: 2.3em;
  margin-left: 1em;
  margin-top: 3px;
}

#drop-down-image {
  position: relative;
  top: 4px;
  height: 1.5em;
}

#btn-drop-down {
  border: none;
  background: none;
  margin: 0em 3em 0em 1em;
}